<menu class="social-media-share">
    <a href="http://twitter.com/joeloverton" class="icon-twitter" rel="external" title="My Twitter"></a>
    <a href="http://www.linkedin.com/pub/joel-overton/23/35a/101" class="icon-linkedin" rel="external" title="My LinkedIn"></a>
    <a href="http://github.com/joeloverton" class="icon-github" rel="external" title="My GitHub"></a>
    <a href="/rss" class="icon-feed" rel="external" title="This blog in RSS format"></a>
</menu>
